/*
E'buona norma includere sempre questa regola di stile
*/
/*
Se avessi dato queste regole ad html o a body, avrei potuto riscontrare alcune
incongruenze di stile con determinati browser (gli altri tag erediterebbero queste
regole);
In questo modo, la regola viene applicata a tutti i tag
*/
* {
	padding: 0em;
	margin: 0em;
	font-family: 'Open Sans', sans-serif;
}


/*
Passo 1
Definire il font
*/
html, body { /*Il tag html va incluso per motivi di retrocompatibilita'*/
	font-family: 'Open Sans', sans-serif; /*Definisco i vari font disponibili*/
	max-width: 1024px; /*Massima larghezza dei contenuti*/
	margin: auto; /*Imposto il calcolo del margin automatico*/
	/*Implementazione del bordino grigio a dx e sx*/
	/*background: #facbcd url(img/logo.png) top left fixed ;  ?????????????????????????*/
	/*background-image: url(../img/logo.png);*/
}

a:link {
	color: #C77B00; /*Colore per i link non visitati*/
}

a:visited {
	color: #755AC8; /*Colore per i link visitati*/
	/*N.B. e'stato scelto un rosso che faccia contrasto sufficiente con i link non visitati*/
}


/*
Passo 2
Procediamo con l'header
N.B. e'un header flessibile
*/

/*
===============
SEZIONE HEADER
===============
*/

#header {
	padding: 0.5em; /*Pensato per adattarsi alla dimensione del carattere*/
	/*text-align: center;*/
	overflow: hidden;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#header a {
	float: left;
	color: #c34267;
	text-align: center;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-decoration: none;
	font-size: 1em;
	line-height: 3.5em;
	margin-left: auto;
	margin-right: auto;
}

#header a.logo {
	font-size: 0.5em;
	font-weight: bold;
	text-align: center;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	width: 50%;
	background-color: white;

}

#header a.colored:hover {
	background-color: #c34267;
	color: white;
}

#header a.active {
	background-color: #c34267;
	color: white;
}

.header-right {
	float: right;
}

@media screen and (max-width: 500px) {
	#header{
		border-left: none;
		border-right: none;
		padding-left: 0.5em;
		padding:0.5;
		padding-right: 0.5em;
	}
	#header a {
	  float: none;
	  display: block;
	  text-align: center;
	  line-height: 0.5em;
	}

	#header a.logo {
		float: none;
		display: block;
		text-align: center;
		line-height: 2em;
	}

	#header a.logo img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	
	.header-right {
	  float: none;
	}
  }



#header p {
	/*padding: 1em; Pensato per adattarsi alla dimensione del carattere*/
	/*float: right;*/
	text-align: right;
	font-size: 1em;
}

#logo{
	float: left;/*Posiziona il logo a sinistra*/
	padding: 5px;
}

#header h1{/*Indica tutti gli h1 contenuti nei div con id "header"*/
	color: #c34267;
	font-size: 2.5em;/*N.B. tutte le dimensioni dei font vanno espresse in em per una questione di adattabilita*/
	text-align: center;
	padding-top: 1em;
}

#header h2 { /*Indica tutti gli h1 contenuti nei div con id "header"*/
	color: #c34267;
	font-size: 1.5em; /*N.B. tutte le dimensioni dei font vanno espresse in em per una questione di adattabilita*/
	text-align: center;
}


/*
Passo 3
Procedo con la sezione "breadcrumb"
*/

#breadcrumb{/*Rappresenta la sezione contenente la dicitura 'ti trovi in:nome_pagina'*/
	background-color: #c34267;/*Sfondo*/
	color: white;/*Colore del testo*/
	padding: 0.5em 0em 0.5em 0.5em;/*Aggiungo una leggera spaziatura attorno al testo, ovvero al contenuto del div contenente l'id specificato*/
	font-size: 0.9em; /*Ingrandisco un minimo il font per la scritta bianca per aumentarne il contrasto e la leggibilita'*/
	font-weight: bold; /*Setto il testo in grassetto per lo stesso motivo citato sopra*/
}

/*
Passo 4
Procedo con la "spalla sx" anche detta "menu"
*/
/*
Prima di tutto setto una serie di regole globali per tutti gli elementi inseriti all'interno
della classe "menu"
*/

/*
======
MENU
======
*/
#menu {
	padding-top: 0.2em ;
	padding-bottom: 0.2em;
	float: left; /*Lo devo mantenere a sx*/
	width: 20%; /*Lo si sta immaginando per un layout responsive, quindi adattabile*/
	font-size: 1em;
	overflow: hidden; /*Elimina gli elementi che "sforano" dalla dimensione del box*/
	text-align: center;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

}

#menu a:link{
	text-decoration: none;
	text-align: center;
  	font-size: 1em;
	color: white;
	display: block;
	padding-bottom: 0.5em;
	background-color: #c46d85;
	border: none;
}

#menu a{
	text-decoration: none;
	text-align: center;
  	font-size: 1em;
	color: white;
	display: block;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	margin-left: 0.4375em;
	margin-right: 0.5em;
	background-color: #c34267;
	border: none;
}

#menu a:visited{
	text-decoration: none;
	text-align: center;
  	font-size: 1em;
	color: white;
	display: block;
	background-color: #c46d85;
	border: none;
}

#menu a:hover{
	color: white;
	display: block;
	background-color: #c34267;
	border: none;
}

@media screen and (max-width: 500px) {
	#menu {
		padding-top: 0.2em ;
		padding-bottom: 0.2em;
		width: 100%; /*Lo si sta immaginando per un layout responsive, quindi adattabile*/
		font-size: 1em;
		overflow: hidden; /*Elimina gli elementi che "sforano" dalla dimensione del box*/
		text-align: center;
		border-left: none;
		border-bottom: none;
	}
}

/*
Do una regola alle liste non ordinate
*/
#menu ul{
	list-style-type: none;/*Nasconde i pallini nelle entry della lista*/
}

#menu ul li{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/*
Passo 5
Iinizio a considerare il corpo della pagina
*/


/*
========
CONTENT
========
*/

#content, #full_content{
	margin-left: 20%;
	width: auto;
	border-left:1px solid #ddd;
	font-size: 0.9em;
	padding-left: 3.5em;
	padding-top: 2.0em;
	padding-bottom: 0.8em;
	padding-right: 3.5em;
	min-height: 20em;
	white-space: initial;
	border-right: 1px solid #ddd;
}

#content img {
	max-width: 100%;
  	height: auto;
}

#content h1 {
	color: #c34267; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 34px; 
	font-weight: 300; 
	line-height: 40px; 
	margin: 0 0 16px; 
}


#content h2 { 
	color: #c34267; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 24px; font-weight: 300; 
	line-height: 32px; margin: 0 0 14px; 
}


#content p { 
	color: #222; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 15px; 
	font-weight: 400; 
	line-height: 24px; 
	margin: 0 0 14px; 
}


#content a { 
	background: #fff; 
	color: #222; 
	text-decoration: none; 
}


#content a:hover { background: #c34267; color: #eee; text-decoration: none; }

#content p{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: justify;
	text-justify: inter-word;
}

#content ul li{
	margin-left: 2em;
}

#content h1{
	margin-bottom: 1em;
	font-size: 1.1em;
}

#content img {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#full_content {
    margin: 0.5em 0;    
    min-height: 0;
}


@media screen and (max-width: 500px) {

	#content, #full_content{
		border-left: none;
		border-right: none;
		margin-left: 0%;
		width: auto;
		font-size: 0.9em;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 2.0em;
		padding-bottom: 0.8em;
		min-height: 20em;
		white-space: initial;
	}
	#content img{
		display: block;
  		margin-left: auto;
  		margin-right: auto;
		width: 50%;
	}
}
/*
Passo 6
Prendo in considerazione il footer, o "piede", della pagina
*/


/*
========
FOOTER
========
*/

#footer {
	font-style: italic;
	font-size: 0.9em;
	text-align: center;
	list-style-type: none;
	background-color: #c34267; /*Sfondo*/
	color: white; /*Colore del testo*/
	padding-top: 1em;
	padding-bottom: 1em;
	position: relative;
	right: 0;bottom:0;left:0;
	/*max-width: 1024px;*/
	margin-left: auto;
    margin-right: auto;
}

#footer ul{
	list-style-type: none;
}

#footer a{
	color: white;
}
/*
#footer a:visited{
	color: gray;
}

*/


/*

======
BUTTON
======
*/

button {
	background-color: #c34267;
	color: white;
	padding: 1em 2em;
	margin: 1em 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }

/*
==========
INPUT FORM
==========
*/

input[type=text], input[type=password] {
	width: 100%;
	padding: 1em 2em;
	margin: 1em 0;
	display: inline-block;
	border: 1px solid #c46d85;
	box-sizing: border-box;
  }

fieldset{
	border:none;
}

  